nav {
  transition: background-color 0.5s, box-shadow 0.20s !important;
}
.toogles {
  border: none !important;
  box-shadow: none !important;
}
.nav-link {
  color: #000 !important;
}

.nav-link.active {
  background-color: var(--main-color) !important;
  border-radius: 5px;
  color: #fff !important;
}

.navbar .nav-link.non-active-link{
  background-color: transparent !important;
  color: #000 !important;
}
.numCustomize{
  height: 25px;
  width: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.navbar-transparent{
  background-color: transparent;
}

@media(max-width:992px){
  .numCustomize{
    left: 20px;
    top: -10px;
  }
  .navbar{
    background-color: #fff !important;
  }
}